.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  background-color: chocolate;
  border-color: chocolate;
  color: white;
}

footer {
  font-size: 14px;
  background-color: black;
  color: white;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.third-line {
  display: none;
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.col {
  padding-bottom: 1rem;
}

@media screen and (max-width:48rem) {
  .first-line {
    text-align: center;
  }

  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #392d23;
  }

  .second-line-first {
    display: none;
  }

  .second-line a {
    padding: auto;
  }

  .third-line {
    display: block;
  }


}